<div class="publications-container">

  <h1 class="archivo-black-regular text-4xl text-center mt-12 mb-8">
    All publications
  </h1>

  @for (publication of publications; track $index) {

    <!-- wrapper for title + card -->
    <div class="flex flex-col items-center mb-10">
      <publication-card-component
        [publicationCartInfo]="publication"
        [routerLink]="['/publications', publication.id]"
        [state]="{publication: publication}">
      ></publication-card-component>
    </div>
  }

</div>
